### Questão 01

In [3]:
import requests
import requests_cache
import time

def download(url, num_retries=5):
    requests_cache.install_cache()
    print('Downloading:', url)
    page = None
    try:
        response = requests.get(url)
        # print(response.status_code)
        page = response.text
        if response.status_code >= 400:
            print('Download error:', response.text)
            time.sleep(30)
            print('Tentando novamento: ' + str(num_retries))
            if num_retries and 500 <= response.status_code < 600:
                return download(url, num_retries - 1)
    except requests.exceptions.RequestException as e:
        print('Download error:', e)
    return page

In [13]:
from bs4 import BeautifulSoup as bs
import html5lib

url = 'http://www.tce.pi.gov.br/'
html = download(url)
soup = bs(html, 'html5lib')

news = soup.find('div', id='latestnews')

for i in soup.find_all('ul', class_='latestnews'):
    for a in i.select('li a'):
        title = a.get_text().strip()
        print(title)

Downloading: http://www.tce.pi.gov.br/
TCE recomenda reprovação das contas de governo de Olho D’Água do Piauí
AVISO – Plenário – Adiamento da Sessão de Julgamento no dia 18/10/2018.
AVISO – Primeira Câmara – Não realização de Sessão de Julgamento no dia 16/10/2018.
Entidades se reúnem para discutir índices do ICMS para 2019
Entidades de controle externo do Brasil e Argentina firmam acordo de cooperação

### Questão 02

In [24]:
'''
for link in soup.find_all('a'):
    print(link.get('href'))
'''
cont = 1
noticias = {}
for i in soup.find_all('a', class_='latestnews'):
    #print(i.get_text())
    link = i.get('href')
    #print(i.get('href'))
    noticias[cont] = link
    cont += 1
    
#print(dic)

{1: 'http://www.tce.pi.gov.br/tce-recomenda-reprovacao-das-contas-de-governo-de-olho-dagua-do-piaui/', 2: 'http://www.tce.pi.gov.br/aviso-plenario-adiamento-da-sessao-de-julgamento-no-dia-18-10-2018/', 3: 'http://www.tce.pi.gov.br/aviso-primeira-camara-nao-realizacao-de-sessao-de-julgamento-no-dia-16-10-2018/', 4: 'http://www.tce.pi.gov.br/conselheira-waltania-alvarenga-convoca-reuniao-de-comissao-no-tce-pi/', 5: 'http://www.tce.pi.gov.br/entidades-de-controle-externo-do-brasil-e-argentina-firmam-acordo-de-cooperacao/'}

In [56]:
#print(noticias)
#data_soup.find_all(attrs={"data-foo": "value"})

#op = int(input('Informe um número de 1 a 6: '))

while True:
    op = int(input('Informe um número de 1 a 6: '))
    if op >= 6:
        print('Obrigado por usar o programa')
        break
    else:
        link = noticias.get(op)
        html = download(link)
        soup = bs(html, 'html5lib')
        news = soup.find_all('div', class_='the_post post_content')
        p = soup.find_all(attrs={"style": "text-align: justify;"})
        for a in p:
            print(a.get_text())

Informe um número de 1 a 6: 5
Downloading: http://www.tce.pi.gov.br/entidades-de-controle-externo-do-brasil-e-argentina-firmam-acordo-de-cooperacao/
Informe um número de 1 a 6: 1
Downloading: http://www.tce.pi.gov.br/tce-recomenda-reprovacao-das-contas-de-governo-de-olho-dagua-do-piaui/
A Segunda Câmara do Tribunal de Contas do Estado do Piauí (TCE-PI) emitiu um parecer para a reprovação das Contas de Governo do município de Olho D’Água do Piauí, referentes ao exercício de 2016. O processo de relatoria da Conselheira Lilian Martins foi apreciado pela Corte em 10 de outubro.
A Divisão de Fiscalização de Administração Municipal (DFAM) apontou improbidades na contas de Governo como o não envio de peças da prestação de contas; divergência de valores informados na prestação de contas das despesas com ações e serviços públicos de saúde; e o descumprimento dos limites do repasse para a Câmara Municipal de Olho D’água do Piauí e com gasto com profissionais do magistério.
A Corte também determinou a irregularidade nas contas do Fundo de Manutenção e Desenvolvimento da Educação Básica (FUNDEB) do município e a aplicação de multa de 800 UFR-PI à gestora responsável, Maria Zélia Leal da Silva, em função das falhas apuradas pela DFAM, como o descumprimento do limite mínimo com gastos com a manutenção e desenvolvimento do ensino do município (52%) e divergências nos valores informados nas prestações de contas enviadas através do sistema SAGRES-Contábil.
Informe um número de 1 a 6: 4
Downloading: http://www.tce.pi.gov.br/conselheira-waltania-alvarenga-convoca-reuniao-de-comissao-no-tce-pi/
A conselheira Waltânia Alvarenga convocou nessa terça-feira (09) uma reunião com a Comissão de Assessoramento para a Fixação dos Índices de Participação no Produto Arrecadado do Imposto sobre Operações Relativas à Circulação de Mercadoria e Sobre a Prestação de Serviços de Transporte Interestadual e Intermunicipal e de Comunicação (ICMS), exercício 2019.
O encontro teve como objetivo discutir acerca da publicação dos índices preliminares de participação de cada município do Estado do Piauí no ICMS, no exercício de 2019. Os municípios piauienses tem 30 dias corridos, a contar da publicação da fixação dos coeficientes de participação preliminar no Diário Oficial do Estado do Piauí em 24 de setembro, para apresentar impugnação referentes aos valores de 2019. O documento também está disponível no Diário Oficial do TCE-PI, resolução Nº 14/2018, publicado em 17 de setembro.
O Tribunal de Justiça do Piauí, após solicitação de mandado de segurança da Prefeitura de Teresina, suspendeu o prazos para pedido de impugnação para os municípios ou as associações dos municípios contemplados com o selo ambiental.
O ICMS é um tributo cuja arrecadação é do Estado, mas, por mandamento legal, parte do produto dessa arrecadação é repassado aos municípios, proporcionalmente à participação de cada um no movimento geral das operações de entrada e saída realizadas em todo Estado.​​
Além da conselheira, que é relatora do processo, estavam presentes na reunião o gerente de controle ambiental Aniel Gonçalves; a auditora ambiental Ana Letícia Lemos; o procurador José Pinheiro Júnior, do Ministério Público de Contas; o Presidente da Comissão de Apuração do Valor Adicionado da Secretaria de Fazenda, Fernando Jufat; e representantes da Procuradoria Geral do Município e da APPM.
Informe um número de 1 a 6: 5
Downloading: http://www.tce.pi.gov.br/entidades-de-controle-externo-do-brasil-e-argentina-firmam-acordo-de-cooperacao/
Informe um número de 1 a 6: 6
Obrigado por usar o programa

### Questão 02

In [57]:
from sklearn.naive_bayes import MultinomialNB
import pandas as pd

In [59]:
df = pd.read_csv('train.csv')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# letra a

In [61]:
print(df[df['Survived'] != 0])

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
15            16         1       2
17            18         1       2
19            20         1       3
21            22         1       2
22            23         1       3
23            24         1       1
25            26         1       3
28            29         1       3
31            32         1       1
32            33         1       3
36            37         1       3
39            40         1       3
43            44         1       2
44            45         1       3
47            48         1       3
52            53         1       1
53            54         1       2
55            56         1       1
56            57         1       2
58            59         1       2
61            62         1       1
65            66         1       3
66            67         1       2
..           ...       ...     ...
809          810         1       1
820          821         1       1
821          822         1       3
823          824         1       3
827          828         1       2
828          829         1       3
829          830         1       1
830          831         1       3
831          832         1       2
835          836         1       1
838          839         1       3
839          840         1       1
842          843         1       1
849          850         1       1
853          854         1       1
855          856         1       3
856          857         1       1
857          858         1       1
858          859         1       3
862          863         1       1
865          866         1       2
866          867         1       2
869          870         1       3
871          872         1       1
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex    Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.00      1
2                               Heikkinen, Miss. Laina  female  26.00      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
11                            Bonnell, Miss. Elizabeth  female  58.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0
17                        Williams, Mr. Charles Eugene    male    NaN      0
19                             Masselmani, Mrs. Fatima  female    NaN      0
21                               Beesley, Mr. Lawrence    male  34.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
23                        Sloper, Mr. William Thompson    male  28.00      0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.00      1
28                       O'Dwyer, Miss. Ellen "Nellie"  female    NaN      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
32                            Glynn, Miss. Mary Agatha  female    NaN      0
36                                    Mamee, Mr. Hanna    male    NaN      0
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
44                       Devaney, Miss. Margaret Delia  female  19.00      0
47                           O'Driscoll, Miss. Bridget  female    NaN      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.00      1
55                                   Woolner, Mr. Hugh    male    NaN      0
56                                   Rugg, Miss. Emily  female  21.00      0
58                        West, Miss. Constance Mirium  female   5.00      1
61                                 Icard, Miss. Amelie  female  38.00      0
65                            Moubarek, Master. Gerios    male    NaN      1
66                        Nye, Mrs. (Elizabeth Ramell)  female  29.00      0
..                                                 ...     ...    ...    ...
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.00      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.00      1
821                                  Lulic, Mr. Nikola    male  27.00      0
823                                 Moor, Mrs. (Beila)  female  27.00      0
827                              Mallet, Master. Andre    male   1.00      0
828                       McCormack, Mr. Thomas Joseph    male    NaN      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.00      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
831                    Richards, Master. George Sibley    male   0.83      1
835                        Compton, Miss. Sara Rebecca  female  39.00      1
838                                    Chip, Mr. Chang    male  32.00      0
839                               Marechal, Mr. Pierre    male    NaN      0
842                            Serepeca, Miss. Augusta  female  30.00      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female    NaN      1
853                          Lines, Miss. Mary Conover  female  16.00      0
855                         Aks, Mrs. Sam (Leah Rosen)  female  18.00      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1
857                             Daly, Mr. Peter Denis     male  51.00      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.00      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.00      0
865                           Bystrom, Mrs. (Karolina)  female  42.00      0
866                       Duran y More, Miss. Asuncion  female  27.00      1
869                    Johnson, Master. Harold Theodor    male   4.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.00      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.00      0
887                       Graham, Miss. Margaret Edith  female  19.00      0
889                              Behr, Mr. Karl Howell    male  26.00      0

     Parch            Ticket      Fare Cabin Embarked
1        0          PC 17599   71.2833   C85        C
2        0  STON/O2. 3101282    7.9250   NaN        S
3        0            113803   53.1000  C123        S
8        2            347742   11.1333   NaN        S
9        0            237736   30.0708   NaN        C
10       1           PP 9549   16.7000    G6        S
11       0            113783   26.5500  C103        S
15       0            248706   16.0000   NaN        S
17       0            244373   13.0000   NaN        S
19       0              2649    7.2250   NaN        C
21       0            248698   13.0000   D56        S
22       0            330923    8.0292   NaN        Q
23       0            113788   35.5000    A6        S
25       5            347077   31.3875   NaN        S
28       0            330959    7.8792   NaN        Q
31       0          PC 17569  146.5208   B78        C
32       0            335677    7.7500   NaN        Q
36       0              2677    7.2292   NaN        C
39       0              2651   11.2417   NaN        C
43       2     SC/Paris 2123   41.5792   NaN        C
44       0            330958    7.8792   NaN        Q
47       0             14311    7.7500   NaN        Q
52       0          PC 17572   76.7292   D33        C
53       0              2926   26.0000   NaN        S
55       0             19947   35.5000   C52        S
56       0        C.A. 31026   10.5000   NaN        S
58       2        C.A. 34651   27.7500   NaN        S
61       0            113572   80.0000   B28      NaN
65       1              2661   15.2458   NaN        C
66       0        C.A. 29395   10.5000   F33        S
..     ...               ...       ...   ...      ...
809      0            113806   53.1000    E8        S
820      1             12749   93.5000   B69        S
821      0            315098    8.6625   NaN        S
823      1            392096   12.4750  E121        S
827      2   S.C./PARIS 2079   37.0042   NaN        C
828      0            367228    7.7500   NaN        Q
829      0            113572   80.0000   B28      NaN
830      0              2659   14.4542   NaN        C
831      1             29106   18.7500   NaN        S
835      1          PC 17756   83.1583   E49        C
838      0              1601   56.4958   NaN        S
839      0             11774   29.7000   C47        C
842      0            113798   31.0000   NaN        C
849      0             17453   89.1042   C92        C
853      1          PC 17592   39.4000   D28        S
855      1            392091    9.3500   NaN        S
856      1             36928  164.8667   NaN        S
857      0            113055   26.5500   E17        S
858      3              2666   19.2583   NaN        C
862      0             17466   25.9292   D17        S
865      0            236852   13.0000   NaN        S
866      0     SC/PARIS 2149   13.8583   NaN        C
869      1            347742   11.1333   NaN        S
871      1             11751   52.5542   D35        S
874      0         P/PP 3381   24.0000   NaN        C
875      0              2667    7.2250   NaN        C
879      1             11767   83.1583   C50        C
880      1            230433   26.0000   NaN        S
887      0            112053   30.0000   B42        S
889      0            111369   30.0000  C148        C

[342 rows x 12 columns]

# letra b

In [64]:
total_sob = len(df[df['Survived'] != 0])
print(total_sob)

342

In [65]:
per_sob = (total_sob * 100)/891
print(per_sob)

38.38383838383838

# letra d

In [90]:
df['Embarked'].dropna()

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
      ..
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 889, dtype: object